* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-form {
    padding: 15px;
    background: #f2f2f2;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input {
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 18px;
    border: none;
    outline: none;
}

.button {
    padding: 10px;
    border-radius: 10px;
    background: #333333;
    color: #f2f2f2;
    font-size: 17px;
    cursor: pointer;
    border: none;
}

.button-danger {
    padding: 10px;
    border-radius: 10px;
    background: brown;
    color: #f2f2f2;
    font-size: 17px;
    cursor: pointer;
    border: none;
}

.list-employes {
    width: 100%;
    padding: 5px;
}